<div class="row">
  <div class="col-md-10">
    <h1 class="page-header">{{address}}</h1>
  </div>
  <div class="col-md-2 text-center">
    <button type="button" class="btn add-btn btn-xl" data-toggle="modal" data-target="#addModal"><i
        class="fa fa-plus plus-white"></i>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    {{#each Users}}
    <div class="card">
      <div class="card-header">
        Tenant #{{@index}}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <div class="row text-here">
            <div class="col-md-10">
              <h2>{{name}}</h2>
              <h4>{{unit}}</h4>
            </div>
            <div class="col-md-2">
              <div class="row">
                <div class="col-md-6 text-left">
                  <button type="button" class="btn btn-sm btn-edit-entry" data-toggle="modal"
                    data-target="#editModal"><i class="fas fa-pencil-alt"></i>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-left">
                  <button type="button" class="btn btn-sm btn-delete-entry" data-toggle="modal"
                    data-target="#deleteModal"><i class="fas fa-minus-circle"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <footer class="blockquote-footer">Rent Amount</cite></footer>
      </blockquote>
    </div>
    {{/each}}
  </div>



  <!-- Button trigger modal -->
  <div class="col-md-2">
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bulding {{ApartmentId}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="card-title text-center"><img class="login-key" src="../../img/key.png"></img>New Tenant</h3>
        <form id="create-user" class="form-signin">
          <div class="form-label-group">
            <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus />
            <label for="inputName">Name</label>
          </div>

          <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus />
            <label for="inputEmail">Email Address</label>
          </div>


          <div class="form-label-group">
            <input type="text" id="inputUnit" class="form-control" placeholder="Apartment Unit" required autofocus />
            <label for="inputUnit">Apartment Unit</label>
          </div>

          <div class="form-label-group">
            <input type="text" id="inputRent" class="form-control" placeholder="Rent Amount" required autofocus />
            <label for="inputRent">Rent Amount</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bulding Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-signin" method="POST" action="./email/email.php">
          <div class="form-label-group">
            <input type="text" id="editName" class="form-control" placeholder="Name" required autofocus />
            <label for="editName">Name</label>
          </div>

          <div class="form-label-group">
            <input type="email" id="editEmail" class="form-control" placeholder="Email address" required autofocus />
            <label for="editEmail">Email Address</label>
          </div>


          <div class="form-label-group">
            <input type="text" id="editUnit" class="form-control" placeholder="Apartment Unit" required autofocus />
            <label for="editUnit">Apartment Unit</label>
          </div>

          <div class="form-label-group">
            <input type="text" id="editRent" class="form-control" placeholder="Rent Amount" required autofocus />
            <label for="editRent">Rent Amount</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!--Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bulding Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center"><i class="fas fa-times-circle fa-5x"></i></p>
        <h2 class="card-title text-center">Are you sure?</h2>
        <p class="text-center">Are you sure you want to delete this tenant?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<script>
  const createUserForm = document.getElementById('create-user');
  createUserForm.addEventListener('submit', (event) => {
    event.preventDefault();
    const name = document.getElementById('inputName').value;
    const currentBuildingId = "{{id}}";
    const email = document.getElementById('inputEmail').value;
    const unit = document.getElementById('inputUnit').value;
    const rent = document.getElementById('inputRent').value;
    fetch("/api/users", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        name,
        email,
        unit,
        ApartmentId: currentBuildingId
      })
    })
  })
</script>